{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "potterObj" :false,
    "showData" : false,
    "filtraGenero" : false,
    "filtraCasa" : false,
    "filtraRolStudent" : false,
    "filtraRolstaff" : false

  }
}
