*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}   

.imagenRedonda{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 2px solid honeydew;
}

.logo{
    width: 180px;
    
}

.menu {
    padding: 10px;
    border: 10px solid navy;
    background: #cccccc;
    width:20%;
    height: 100vh;
    margin:auto;
    position: fixed;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:80%;
    margin-left:20%;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 12em;
}

