*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}   

.imagenRedonda{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 2px solid honeydew;
}

.logo{
    width: 275px;
    
}

.menu {
    padding: 10px;
    border: 10px solid navy;
    background: #cccccc;
    width:100%;
    flex-flow: row wrap;
    flex-direction: column;
}

.titulo{
    width:20%;
    margin-left:20%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:20%;
    
}

.card {
  background-color: #8675ad;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 12em;
  height: 20em;
  border-radius: 5%;
  border: 10px solid navy;
  
}



@media screen and (min-width:360px) {
    body{
        background: rgb(60, 60, 179);
        background-image: url(imagenes/fondo\ de\ pantalla.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .titulo{
        width:100%;
        margin-right:100%;
    }

}

@media screen and (min-width:1200px) {
    body{
        background: rgb(79, 79, 134);
        background-image: url(imagenes/fondo\ de\ pantalla.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #root{
        display: flex;
        flex-direction: column;
    }

    .menu{
        width: 300px;
        height: 100vh;
        margin:auto;
        position: fixed;
        float:none;  
    }
}